<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Keeper</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>PasswordKeepr</h1>
  <div class = 'intro'>
    <!-- <a>It's all AJAX, we need to write source files and import them</a> -->
    <script src="../public/scripts/header.js"></script>
    <p class = 'description'>
      Are you tired of using the same password for every site or just cant think of a secure password?
      This is the app for you!
      PasswordKeepr is a storage system for users to use, that allows the users to randomly generate a password with built in password generator and automatically stores it in the app.
    </p>
    <h2>
      <button><a class = loginbtn href="/login">Click here to login!</a>
      </button>
    </h2>
  </div>
</body>
</main>
</html>
