body.pagebody {
  display: flex;
  background-color: pink;
  flex-direction: column;
}

.passwords {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.allpasswords {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.body {
  display: flex;
  justify-content: center;;
}
.nav-left {
  font-weight: bold;
  color: blue;
  font-size: 48px;
  padding-top: 0.5em;
  padding-left: 0.5em
}
header {
  background-color: pink;
}

#nav-right {
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  align-items: top;
}

.main {
  background-color: lightgrey;
  height: 300px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid grey;
  border-radius: 6px;
}

#gen-button {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1em;
}

#copy-genpass {
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

#create-password {
 background-color: grey;;
 padding: 1em;
 font-weight: bold;
 display: flex;
 align-items: center;
justify-content: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid grey;
  border-radius: 6px;
}

td, th {
  text-align: center;
  background-color: lightgrey;
  padding: 0.5em;
}

#new-pw-submit {
  margin-left: 10px;
}
@media only screen and (min-width: 1024px) {
  .allpasswords {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
}
