body.pagebody {
  display: flex;
  background-color: pink;
  flex-direction: column;
}

.passwords {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.allpasswords {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

@media only screen and (min-width: 1024px) {
  .allpasswords {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
}
