body.pagebody{
  display: flex;
  background-color: pink;

}
.passwords{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.allpasswords{
  display: flex;
  flex-direction: column;
}

